.inspiration-container {
  display: flex;
  flex-direction: column;
  width: 1280px;
  gap: 96px;
}

.inspiration-title {
  font-family: Inter;
  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
  text-align: left;
  margin-bottom: -48px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.inspiration-card-row {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
